body {
    font-family: "Oswald", sans-serif;
}

#h1_inicio {
    text-align: center;
}

.nav-link.active {
    color: whitesmoke;
    font-weight: bolder;
}
.nav-link {
    font-weight: bold;
}

a.nav-link:hover {
    color: cornflowerblue;
}

form {
    margin: auto;
    background-color: darkslategray;
    max-width: 1000px;
    padding: 30px;
    margin-top: 20px;
    box-shadow: 0px 0px 4px black;
    border-radius: 6px;
    box-sizing: border-box;
}

h2 {
    color: cornflowerblue;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
}

h1 {
    color: cornflowerblue;
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
}

.card-text {
    color: cadetblue;
    text-align: center;
    margin: 0;
    font-size: 15px;
    margin-bottom: 20px;
}

.contactenos {
    text-align: justify;
    margin-bottom: 40px;
}

input, textarea, option {
    font-size: 16px;
    background-color: darkslategray;
    color: white;
    width: 100%;
    border: none;
    border-bottom: 1px solid white;
    margin-bottom: 10px;
    outline: none;
    padding: 10px;
}

select, .form-select {
    background-color: cadetblue;
    margin-bottom: 6px;
}

textarea {
    min-height: 140px;
    max-height: 200px;
    max-width: 100%;
    border: 1px solid white;
    margin: auto;
}

#boton {
    background-color: darkblue;
    border-radius: 6px;
    border: 2px solid black;
    color: white;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

#boton:hover {
    background-color: cornflowerblue;
}